div.documentation {
    width: min(80%, 1100px);
    margin-left: max(10%, calc((100% - 1100px)/2));
    line-height: 32.5px;
}
div.documentation p.code {
    height: 180px;
}
dt {
    color: #FF0000;
}